<%= stylesheet_link_tag "json.global.min" %>
<%= stylesheet_link_tag "json.common" %>
<%= javascript_tag "" %>

<h1 class="font-18 v-big-margin no-padding-v">格式化校验</h1>
<form name="main" onsubmit="return false">
  <div class="editor-box1">
    <div class="float-left relative" style="width: 950px">
      <!-- json编辑器 -->
      <div id="editor">
        <textarea id="code" name="code" style="display: none;"></textarea>
        <div class="CodeMirror cm-s-default">
          <div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 4px; left: 44px;">
            <textarea autocorrect="off" autocapitalize="off" spellcheck="false" tabindex="0" style="position: absolute; bottom: -1em; padding: 0px; width: 1000px; height: 1em; outline: none;"></textarea>
          </div>
          <div class="CodeMirror-vscrollbar" tabindex="-1" cm-not-content="true">
            <div style="min-width: 1px; height: 0px;"></div>
          </div>
          <div class="CodeMirror-hscrollbar" tabindex="-1" cm-not-content="true">
            <div style="height: 100%; min-height: 1px; width: 0px;"></div>
          </div>
          <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
          <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
          <div class="CodeMirror-scroll" tabindex="-1">
            <div class="CodeMirror-sizer" style="margin-left: 40px; margin-bottom: -10px; border-right-width: 20px; min-height: 30px; min-width: 7px; padding-right: 0px; padding-bottom: 0px;">
              <div style="position: relative; top: 0px;">
                <div class="CodeMirror-lines" role="presentation">
                  <div role="presentation" style="position: relative; outline: none;">
                    <div class="CodeMirror-measure"></div>
                    <div class="CodeMirror-measure"></div>
                    <div style="position: relative; z-index: 1;"></div>
                    <div class="CodeMirror-cursors" style="">
                      <div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 21.5312px;">&nbsp;</div>
                    </div>
                    <div class="CodeMirror-code" role="presentation">
                      <div style="position: relative;">
                        <div class="CodeMirror-gutter-wrapper" style="left: -40px;">
                          <div class="CodeMirror-linenumber CodeMirror-gutter-elt" style="left: 0px; width: 21px;">1</div>
                        </div>
                        <pre class=" CodeMirror-line " role="presentation"><span role="presentation" style="padding-right: 0.1px;"><span cm-text="">​</span></span></pre>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div style="position: absolute; height: 20px; width: 1px; border-bottom: 0px solid transparent; top: 30px;"></div>
            <div class="CodeMirror-gutters" style="height: 50px;">
              <div class="CodeMirror-gutter CodeMirror-linenumbers" style="width: 29px;"></div>
              <div class="CodeMirror-gutter CodeMirror-foldgutter"></div>
            </div>
          </div>
        </div>
        <div id="resize">
          <i class="icon-bars"></i>
        </div>
      </div>
      <!-- 功能 -->
      <div class="t-huge-margin">
        <div class="btn-group">
          <button class="copy hide display-none"></button>
          <input type="submit" class="btn btn-primary" name="validate" data-ga="validate" id="validate" value="格式化校验">
          <!--                <button type="button" class="btn btn-primary" id="formatCheck" data-html="index">格式化校验</button>-->
          <a class="btn" href="/explore/index_new/">新版</a>
          <button type="button" class="btn" id="compressZipJson" data-html="index">压缩</button>
          <button type="button" class="btn" id="escapeJson" data-html="index">转义</button>
          <button type="button" class="btn" id="restoreJson" data-html="index">去除转义</button>
          <button type="button" class="btn" id="unicode2ch" data-html="index">Unicode转中文</button>
          <button type="button" class="btn" id="ch2unicode" data-html="index">中文转Unicode</button>
          <button type="button" class="btn" id="json2get" data-html="index">转GET参数</button>
          <button type="button" class="btn" id="copyJson" data-html="index">复制</button>
        </div>
        <div class="checkbox-primary">
          <input type="checkbox" id="loadChecked" checked="checked">
          <label for="loadChecked">记忆</label>
        </div>
        <button type="button" class="btn absolute btn-sm" style="bottom: 70px;right: 8px;z-index: 9" id="clearCode" data-html="index">清空</button>
      </div>
    </div>

    <!-- 保存数据 和 日志列表 -->
    <div class="save-data-con">
      <div class="save-data-box">
        <div class="btn-con">
          <div class="btn-group">
            <button class="btn btn-sm" id="saveData">保存校验数据</button>
            <button class="btn btn-sm" id="removeData">清空记录</button>
          </div>
        </div>
        <ul class="empty-list" id="daveDataList">
        </ul>
      </div>
    </div>
  </div>
</form>