<style>



    .mod-panel .search .input-text {
        display: inline-block;
        width: 336px;
        height: 42px;
        border: 1px solid #ccc;
        padding: 10px 0 10px 8px;
        line-height: 42px;
        outline: none;
        box-sizing: border-box;
    }

    .mod-panel .search .input-submit {
        display: inline-block;
        height: 42px;
        width: 108px;
        background: #4bae4f;
        border: medium none;
        font-size: 16px;
        color: #fff;
        cursor: pointer;
        outline: none;
    }

</style>
<div class="mod-panel">
  <div class="hd">
    <h1>手机号码所在地区查询</h1>
    <p>输入手机号即可知道用户所在地区</p>
  </div>
  <div class="bd">
    <div class="search">
      <%= form_tag('/get_mobile_area', {method: :post}) do %>
        <input class="input-text" type="number" id="mobile-number" name="mobile_number" required="required" minlength="7" maxlength="11" size="11" placeholder="请输入手机号码（段）">
        <input class="input-submit" type="submit" value="查询" onclick="$('#mobile-area').html('');">
      <% end %>
    </div>
    <div class="search" id="mobile-area" style="min-width: 100px;min-height: 30px;color: blue;font-size: 24px;line-height: 30px;"></div>
  </div>
</div>

<div id="spinner-mobile-area" style="display: none;">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
