<table class="common-table">
  <tr>
    <td>更改客户端语言</td>
    <td><pre>

    </pre>
    </td>
  </tr>
  <tr>
    <td>插件整合包</td>
    <td><a href="https://github.com/suxiaohun/AddOns" target="_blank">点击查看</a></td>
  </tr>
</table>