/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/test/*

public/books
public/videos

/.git
.browserslistrc
.idea
.generators
.rakeTasks
.dockerignore

lib/utils/files/phone_info.txt
/codes
/docker
/pb
/include
/vendor/*

.ruby-version
image_build
image_build_static
Dockerfile
LICENSE
Makefile
TODO.md
README.md





