<hr>
<ul>
<!--  <li>召唤活动统计: <%#= image_tag image_path('tip.jpg'), size: "24", title: "统计条件:全图鉴,三次up,指定式神up,500抽(含)以上", style: 'vertical-align:top;' %>-->

<!--    <ul>-->
<!--      <li>活动抽取次数: <%#= rate[:all_count] %></li>-->
<!--      <li>500抽不出货: <%#= rate[:all_500_spec_count] %>人,概率:<%#= rate[:all_500_spec_rate] %>%</li>-->
<!--      <li>700抽才出货: <%#= rate[:all_700_spec_count] %>人,概率:<%#= rate[:all_700_spec_rate] %>%</li>-->
<!--    </ul>-->
<!--  </li>-->
  <li>召唤次数统计: <%= rate[:total_count] %></li>
</ul>



