<style type="text/css">
  li{
    font-size: 20px;color: #0c5460
  }
</style>
<ul>
<li>
  2018年2月7日更新维护后，使用神秘的符咒、现世符咒、勾玉进行召唤时，SSR式神出现概率从1%提升至1.2%，同时R式神出现概率由79%降低至78.8%
</li>
  <li>
    2018年9月19日更新维护后，全新SP阶式神少羽大天狗开启召唤
    <ul>
      <li>其中，召唤出sp式神的概率为单个ssr式神的80%（目前，官方移除了这句话，表示此机制已失效）</li>
    </ul>
  </li>
  <li>
    2019年6月19日更新维护后，使用神秘的符咒、勾玉、现世符咒进行召唤时，SP/SSR式神出现的总基础概率将由1.2%永久上调为1.25%
    <ul>
      <li>其中SP式神的总概率上调为固定0.25%，SSR式神的总概率上调为固定1%。</li>
      <li>这将使得SSR大岳丸加入卡池后每个SP式神的基础概率相对提高约21%，</li>
      <li>而每个SSR式神的基础概率也会小幅提高，且未来不会再随新SP式神的加入而降低。</li>
      <li>本项调整旨在确保SSR式神的概率不会被SP式神挤占，降低达成SSR全集赏的难度，同时将SP这一特殊稀有度独立出来。</li>
      <li>本项调整将在本次召唤活动结束后依然有效。</li>
    </ul>
  </li>
</ul>

<div style="padding-left: 50px;">

  <pre>
  ssr式神数量为 n1，单个ssr概率为：p1
  sp式神数量为  n2， 单个sp概率为：p2

    
  大岳丸之前，ssr数量：23，sp数量：6
    p2 = p1*0.8
    p1*23 + p1*0.8*6 = 0.012
    p1 = 0.0004316546762589928
    p2 = p1*0.8 = 0.00034532374100719427

  大岳丸加入后，ssr数量：24，sp数量：6
    n1*p1 = 0.01
    n2*p2 = 0.0025

    p1*24 = 0.01
    p2*6  = 0.0025


    p1 = 0.01/24  = 0.0004166666666666667
    p1? = 0.01/23 = 0.0004347826086956522
    p2 = 0.0025/6 = 0.0004166666666666667

    p2/p2  = 0.0004166666666666667/0.00034532374100719427 = 1.206597222222222 符合官方提升约21%
    p1-p1  = 0.0004166666666666667 - 0.0004316546762589928
    p1?-p1 = 0.0004347826086956522 - 0.0004316546762589928

    不过，对于ssr，官方玩了个文字游戏，
      大岳丸加入后，由于ssr基数变大，单个ssr概率其实是降低的，
      不考虑大岳丸导致的基数变大（p1？），才是官方的小幅提高

</pre>
</div>







<hr>
<ul>
  <li>1.神秘的符咒召唤出R，SR，SSR，SP阶式神的概率分别为：R阶78.75%，SR阶20%，SSR阶1%，SP阶0.25%。</li>
  <li>2.勾玉召唤出R，SR，SSR，SP阶式神的概率分别为：R阶78.75%，SR阶20%，SSR阶1%，SP阶0.25%。</li>
  <li>3.现世符咒召唤出R，SR，SSR，SP阶式神的概率分别为：R阶78.75%，SR阶20%，SSR阶1%，SP阶0.25%。</li>
  <li>4.破碎的符咒召唤出N，R阶式神的概率分别为：N卡87%，R卡13%。</li>
  <li>5.带有SP皮肤的SSR式神，在召唤获得时，有10%的概率同时获得该SP皮肤；若玩家已获得该式神的SP皮肤，则不会重复获取。</li>
<li>
  6.《阴阳师》×TV动画《BLEACH境·界》联动活动中，召唤时获得黑崎一护碎片的概率为25%，召唤时直接获得黑崎一护契约书的概率为0.005%。</li>
</ul>
