<html lang="">
<head>
  <title></title></head>
<style>
    td {
        /*min-width: 15%;*/
    }

    .lef {
        text-align: left;
    }

    .rig {
        text-align: right;
    }
</style>
<body>
<div style="margin: auto;background: gainsboro;width: 500px;display: inline-block">
  <form method="get" action="/convert">
<textarea name="code" cols="46" rows="50">
    <%= @code %>
</textarea>
    <input type="submit">
  </form>
</div>
<div style="margin: auto;background: greenyellow;width: 500px;display: inline-block">
  <textarea name="code2" cols="46" rows="50">
  <%= @str %>
</textarea>

</div>
</body>
</html>