a, a:visited {
  color: black;
}

.nav-block {
  width: 195px;
  height: 90px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  line-height: 90px;
  color: black;
  border-bottom: 5px solid whitesmoke;
}


