<style>
  td{
    border: 1px solid blue;
  }
  table{
      border-collapse: collapse;
  }
</style>
<table>
  <% @c.each do |x|  %>


    <tr>
      <% x.split(',') do |aa| %>
        <td><%= aa %></td>
    <% end %>
  </tr>

  <% end %>
</table>
